
<div class="card">
        <img src="{{vich_uploader_asset(product, 'imageFile')}}" class="card-img-top" alt="image {{product.name}}">
         <div class="card-body">
                    <h3>{{ product.name }}</h3>     
                    <p class="card-text">Prix : {{product.price | number_format(2, ',', ' ')}} €</p>
                    {% if product.promo == null %}
                        <p>Aucune promo en cours </p>
                     {% else %}
                            <p>patate</p>
                     {% endif %}
                    <p class="card-text">{{product.description}}</p>           
                </div>

</div>
